<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/error.css">
    <title>Document</title>
</head>
<body>
    <div class="error">
        <div class="error-title-cont">
            <div class="cont">
                <h1>404</h1>
                <p>Hi there!</p>
                <p>I tried to find this model but I had no luck...</p>
                <p></p>
            </div>
        </div>
    </div>
</body>
</html>