<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/home.css">
    <title>MIA 2021 | Home</title>
</head>
    <body>
        <div class="home">
            <div class="intro">
                <h1>MIA</h1>
                <p>2021</p>
            </div>
            <div class="models">
                {% for models in model %}
                    <div class="model-card" style="background-image: url('{{ models.amb }}');">
                        <h2>{{models.name}}</h2>
                        {% if models.devpath == false %}
                            <p>Model not available</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="footer">
                <img src="/assets/img/aquinos.svg" alt="">
                <p>All rights reserved | aquinos 2021 | Alpha release v0.0.5</p>
            </div>
        </div>
    <script src="/scripts/linkpath.js"></script>
    </body>
</html>