<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/qr.css">
    <title>Document</title>
</head>
    <body>
        <div class="qr-cont">
            <div class="qr">
                <h3>Open in your mobile device</h3>
                <h4>to see your models in your place</h4>
            </div>
        </div>
    </body>
</html>