<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/qr.css">
    <script src="/scripts/qrcode.js"></script>
    <title>Document</title>
</head>
    <body>
        <div class="qr-cont" id="qrname" data-modelname={{modelname}}>
            <div class="qr">
                <div id="qrcode"></div>
                <h3>Open in your mobile device</h3>
                <h4>to see ours models in your place</h4>
            </div>
        </div>
    
        <script src="/scripts/generateqr.js"></script>
    </body>
</html>