.error{
    font-family: 'gilroy-bold';
    background-color: white;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/animations/404.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    color: var(--red-color);
}

.error-title{
    padding: 50px;
    padding-bottom: 0px;
    margin-top: 50px;
    font-size: 100px;
    background-color: rgba(122, 122, 122, 0.4);
}

.error p{
    font-size: 35px;
    background-color: rgba(122, 122, 122, 0.4);
    padding: 30px;
}