.error{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/animations/404.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    
}

.error-title-cont{
    display: flex;
    text-align: center;
    font-family: 'Gilroy';
    background-color: rgba(219, 219, 219, 0.3);
    height: 40%;
    width: 80%;
    justify-content: center;
    align-items: center;
    backdrop-filter:  blur(0.4rem);
    border-radius: 8px;
}

.cont{
    padding: 30px;
}

.cont h1{
    font-family: 'gilroy-bold';
    font-size: 100px;
    color: var(--red-color);
    margin-bottom: 10px;
}

.cont p{
    font-size: 30px;
}
